<div class="banner3" style="background-image: url(https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-lg-6 my-4 p-1">
      <div class="card" style="width: 28rem;, height: 28rem;">
        <div class="text-center">
          <h1 class="cocktail-name"><%= @cocktail.name %></h1>
          <div class="cocktail-photo">
            <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill%>
          </div>
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-6">
                <h1 class="cocktail-name2">Recipe</h1>
              <table class="table table-bordered text-center">
                <tbody>
                  <thead>
                    <th class="cocktail-name3">Ingredient</th>
                    <th class="cocktail-name3">Description</th>
                    <th class="cocktail-name3">Action</th>
                  </thead>
                  <% @cocktail.doses.each do |dose| %>
                  <tr>
                    <td><%= dose.description %></td>
                    <td><%=  dose.ingredient.name %></td>
                    <td>
                    <%= link_to 'Delete Dose', dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            <div>
              <%=  link_to "Add Dose", new_cocktail_dose_path(@cocktail), :class => "btn btn-danger" %>
              <%=  link_to "Back to Cocktails", cocktails_path, :class => "btn btn-danger" %>
              <%=  link_to "Leave a Review", new_cocktail_review_path(@cocktail), :class => "btn btn-danger" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="cocktail-name2">Reviews</h3>
  <% if @cocktail.reviews.empty? %>
    <p>Be the first to leave a review</p>
  <% else %>
    <ul class="list-group">
      <% @cocktail.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
           <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<!--

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nj2U6rhnucI" allowfullscreen></iframe>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hs8nW9XXtYw" allowfullscreen></iframe>
</div>


 -->
